.about-container {
  padding-top: 15rem;
  display: grid;
  grid-template-columns: 30% 50%;
  gap: 1rem;
}
.about-me {
  display: grid;
  place-items: center;
  /* aspect-ratio: 1/1/; */
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primay),
    transparent
  );
  transform: scale(0.67);
}
.about-img {
  /* overflow: hidden; */
  transform: scale(1.11);
  transition: var(--transition);
  z-index: 30;
  place-items: center;
}
.about-img img {
  border-radius: 2rem;
  width: 380px;
  height: 380px;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.about-card {
  background: var(--color-primay-varient);
  border-radius: 1.2rem;
  padding: 1.2rem 1rem;
  text-align: center;
  border: 1px dashed transparent;
  letter-spacing: 2px;
  font-size: 1.2rem;
  transition: var(--transition);
}
.about-card:hover {
  background: transparent;
  border-color: #fff;
}

.about-icon {
  font-size: 1.4rem;
  color: var(--color-primay);
}
.about-cards small {
  color: var(--text-light);
}
.about-contact p {
  margin: 2.5rem 0;
  color: var(--text-light);
  align-items: center;
}
.about-btn{
    text-align: start;
    font-weight: normal;
    padding: 10px 5px;
}
.tababout{
    display: flex;
    flex-direction: column;
    margin: 20rem 0 -15rem 0;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 1.2rem;
}
.tababout h5{
  color: #fff;
}
.tababout h1{
  color: var(--color-primay);
}





/* Responsive */


@media screen and (max-width:1068px) {
    .about-container{
        grid-template-columns: 1fr;
    }
    .about-me{
        width: 100%;
        margin: auto;
        place-items: center;
        transform: scale(.59);
    }
    .about-img img{
      transform: scale(.8) !important;
    }
}

@media  screen and (max-width:568px) {
    .about-cards{
        grid-template-columns: 1fr ;
        gap: 1rem;
        margin:auto;
        place-items: center;
        align-items: center;
    }
    .about-img img {
      place-items: center;
    }
    .about-contact p {
        margin: 30px 10px 30px 10px;
        align-items: center;
        padding: 10px;
    }
}

@media  screen and (max-width:368px) {
  .about-contact p {
    margin: 30px 10px 30px 10px;
    align-items: center;
    padding: 10px 60px;
}
}